In [18]:
import pandas as pd
import numpy as np

# 1. Data Cleaning

In [4]:
df=pd.read_csv('Files/data.csv')

In [7]:
#Boolean mask of missing values
df.isnull()

,order_id,customer_id,order_date,product,category,quantity,unit_price,city,returned,rating,total
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,True,False,False,False,False,True
7,False,False,True,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False

In [8]:
#Count of missing values per column
df.isnull().sum()

order_id       0
customer_id    0
order_date     1
product        0
category       0
quantity       1
unit_price     0
city           0
returned       0
rating         1
total          1
dtype: int64

In [9]:
#Boolean mask of non-missing values
df.notnull()

,order_id,customer_id,order_date,product,category,quantity,unit_price,city,returned,rating,total
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,False,True
4,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,False,True,True,True,True,False
7,True,True,False,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True,True,True,True,True
30,True,True,True,True,True,True,True,True,True,True,True
31,True,True,True,True,True,True,True,True,True,True,True

In [10]:
#Boolean mask of duplicate rows
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [11]:
#Remove duplicate rows
df.drop_duplicates()

,order_id,customer_id,order_date,product,category,quantity,unit_price,city,returned,rating,total
0,1001,C001,2025-09-01,Widget A,Gadgets,2.0,199.99,Hyderabad,False,4.5,399.98
1,1002,C002,2025-09-01,Widget B,Gadgets,1.0,299.50,Hyderabad,False,5.0,299.50
2,1003,C003,2025-09-02,Gizmo X,Widgets,5.0,49.99,Mumbai,False,4.0,249.95
3,1004,C004,2025-09-03,Gizmo Y,Widgets,3.0,79.99,Delhi,True,NaN,239.97
4,1005,C005,2025-09-03,Widget A,Gadgets,1.0,199.99,Bengaluru,False,3.5,199.99
5,1006,C002,2025-09-04,Accessory Z,Accessories,10.0,9.99,Hyderabad,False,4.8,99.90
6,1007,C006,2025-09-05,Widget C,Gadgets,NaN,249.00,Chennai,False,4.2,NaN
7,1008,C007,NaN,Gizmo X,Widgets,2.0,49.99,Mumbai,False,4.1,99.98
8,1009,C008,2025-09-06,Accessory Z,Accessories,4.0,9.99,Delhi,True,2.0,39.96
9,1010,C009,2025-09-06,Widget A,Gadgets,2.0,199.99,Hyderabad,False,4.9,399.98
10,1011,C010,2025/09/07,Gizmo Y,Widgets,1.0,79.99,Bengaluru,False,4.3,79.99
11,1012,C011,2025-09-08,Widget B,Gadgets,3.0,299.50,Kolkata,False,3.9,898.50
12,1013,C012,2025-09-09,Widget D,Gadgets,2.0,149.99,Chennai,False,4.6,299.98
13,1014,C013,2025-09-09,Gizmo X,Widgets,1.0,49.99,Mumbai,False,4.2,49.99
14,1015,C014,2025-09-10,Accessory Y,Accessories,5.0,19.99,Delhi,False,3.8,99.95
15,1016,C015,2025-09-10,Widget B,Gadgets,2.0,299.50,Bengaluru,True,4.1,599.00
16,1017,C016,2025-09-11,Gizmo Z,Widgets,3.0,59.99,Hyderabad,False,4.0,179.97
17,1018,C017,2025-09-11,Widget A,Gadgets,1.0,199.99,Kolkata,False,4.5,199.99
18,1019,C018,2025-09-12,Accessory Z,Accessories,8.0,9.99,Chennai,False,4.7,79.92
19,1020,C019,2025-09-12,Gizmo Y,Widgets,2.0,79.99,Mumbai,True,3.5,159.98
20,1021,C020,2025-09-13,Widget C,Gadgets,3.0,249.00,Delhi,False,4.8,747.00
21,1022,C021,2025-09-13,Gizmo X,Widgets,4.0,49.99,Bengaluru,False,4.0,199.96
22,1023,C022,2025-09-14,Accessory Y,Accessories,6.0,19.99,Hyderabad,False,3.9,119.94
23,1024,C023,2025-09-14,Widget D,Gadgets,1.0,149.99,Kolkata,False,4.4,149.99
24,1025,C024,2025-09-15,Gizmo Z,Widgets,2.0,59.99,Chennai,False,4.1,119.98
25,1026,C025,2025-09-15,Widget B,Gadgets,3.0,299.50,Delhi,True,3.7,898.50
26,1027,C026,2025-09-16,Accessory Z,Accessories,5.0,9.99,Mumbai,False,4.6,49.95
27,1028,C027,2025-09-16,Gizmo Y,Widgets,1.0,79.99,Bengaluru,False,4.2,79.99
28,1029,C028,2025-09-17,Widget A,Gadgets,2.0,199.99,Hyderabad,False,4.9,399.98
29,1030,C029,2025-09-17,Gizmo X,Widgets,3.0,49.99,Kolkata,False,3.8,149.97
30,1031,C030,2025-09-18,Accessory Y,Accessories,4.0,19.99,Chennai,False,4.3,79.96
31,1032,C031,2025-09-18,Widget C,Gadgets,1.0,249.00,Delhi,False,4.5,249.00

In [13]:
#Remove rows with Missing values
df.dropna()

,order_id,customer_id,order_date,product,category,quantity,unit_price,city,returned,rating,total
0,1001,C001,2025-09-01,Widget A,Gadgets,2.0,199.99,Hyderabad,False,4.5,399.98
1,1002,C002,2025-09-01,Widget B,Gadgets,1.0,299.50,Hyderabad,False,5.0,299.50
2,1003,C003,2025-09-02,Gizmo X,Widgets,5.0,49.99,Mumbai,False,4.0,249.95
4,1005,C005,2025-09-03,Widget A,Gadgets,1.0,199.99,Bengaluru,False,3.5,199.99
5,1006,C002,2025-09-04,Accessory Z,Accessories,10.0,9.99,Hyderabad,False,4.8,99.90
8,1009,C008,2025-09-06,Accessory Z,Accessories,4.0,9.99,Delhi,True,2.0,39.96
9,1010,C009,2025-09-06,Widget A,Gadgets,2.0,199.99,Hyderabad,False,4.9,399.98
10,1011,C010,2025/09/07,Gizmo Y,Widgets,1.0,79.99,Bengaluru,False,4.3,79.99
11,1012,C011,2025-09-08,Widget B,Gadgets,3.0,299.50,Kolkata,False,3.9,898.50
12,1013,C012,2025-09-09,Widget D,Gadgets,2.0,149.99,Chennai,False,4.6,299.98
13,1014,C013,2025-09-09,Gizmo X,Widgets,1.0,49.99,Mumbai,False,4.2,49.99
14,1015,C014,2025-09-10,Accessory Y,Accessories,5.0,19.99,Delhi,False,3.8,99.95
15,1016,C015,2025-09-10,Widget B,Gadgets,2.0,299.50,Bengaluru,True,4.1,599.00
16,1017,C016,2025-09-11,Gizmo Z,Widgets,3.0,59.99,Hyderabad,False,4.0,179.97
17,1018,C017,2025-09-11,Widget A,Gadgets,1.0,199.99,Kolkata,False,4.5,199.99
18,1019,C018,2025-09-12,Accessory Z,Accessories,8.0,9.99,Chennai,False,4.7,79.92
19,1020,C019,2025-09-12,Gizmo Y,Widgets,2.0,79.99,Mumbai,True,3.5,159.98
20,1021,C020,2025-09-13,Widget C,Gadgets,3.0,249.00,Delhi,False,4.8,747.00
21,1022,C021,2025-09-13,Gizmo X,Widgets,4.0,49.99,Bengaluru,False,4.0,199.96
22,1023,C022,2025-09-14,Accessory Y,Accessories,6.0,19.99,Hyderabad,False,3.9,119.94
23,1024,C023,2025-09-14,Widget D,Gadgets,1.0,149.99,Kolkata,False,4.4,149.99
24,1025,C024,2025-09-15,Gizmo Z,Widgets,2.0,59.99,Chennai,False,4.1,119.98
25,1026,C025,2025-09-15,Widget B,Gadgets,3.0,299.50,Delhi,True,3.7,898.50
26,1027,C026,2025-09-16,Accessory Z,Accessories,5.0,9.99,Mumbai,False,4.6,49.95
27,1028,C027,2025-09-16,Gizmo Y,Widgets,1.0,79.99,Bengaluru,False,4.2,79.99
28,1029,C028,2025-09-17,Widget A,Gadgets,2.0,199.99,Hyderabad,False,4.9,399.98
29,1030,C029,2025-09-17,Gizmo X,Widgets,3.0,49.99,Kolkata,False,3.8,149.97
30,1031,C030,2025-09-18,Accessory Y,Accessories,4.0,19.99,Chennai,False,4.3,79.96
31,1032,C031,2025-09-18,Widget C,Gadgets,1.0,249.00,Delhi,False,4.5,249.00

# 2. Fill Missing Values

In [14]:
#Fill Missing Values
df.fillna(0)

,order_id,customer_id,order_date,product,category,quantity,unit_price,city,returned,rating,total
0,1001,C001,2025-09-01,Widget A,Gadgets,2.0,199.99,Hyderabad,False,4.5,399.98
1,1002,C002,2025-09-01,Widget B,Gadgets,1.0,299.50,Hyderabad,False,5.0,299.50
2,1003,C003,2025-09-02,Gizmo X,Widgets,5.0,49.99,Mumbai,False,4.0,249.95
3,1004,C004,2025-09-03,Gizmo Y,Widgets,3.0,79.99,Delhi,True,0.0,239.97
4,1005,C005,2025-09-03,Widget A,Gadgets,1.0,199.99,Bengaluru,False,3.5,199.99
5,1006,C002,2025-09-04,Accessory Z,Accessories,10.0,9.99,Hyderabad,False,4.8,99.90
6,1007,C006,2025-09-05,Widget C,Gadgets,0.0,249.00,Chennai,False,4.2,0.00
7,1008,C007,0,Gizmo X,Widgets,2.0,49.99,Mumbai,False,4.1,99.98
8,1009,C008,2025-09-06,Accessory Z,Accessories,4.0,9.99,Delhi,True,2.0,39.96
9,1010,C009,2025-09-06,Widget A,Gadgets,2.0,199.99,Hyderabad,False,4.9,399.98
10,1011,C010,2025/09/07,Gizmo Y,Widgets,1.0,79.99,Bengaluru,False,4.3,79.99
11,1012,C011,2025-09-08,Widget B,Gadgets,3.0,299.50,Kolkata,False,3.9,898.50
12,1013,C012,2025-09-09,Widget D,Gadgets,2.0,149.99,Chennai,False,4.6,299.98
13,1014,C013,2025-09-09,Gizmo X,Widgets,1.0,49.99,Mumbai,False,4.2,49.99
14,1015,C014,2025-09-10,Accessory Y,Accessories,5.0,19.99,Delhi,False,3.8,99.95
15,1016,C015,2025-09-10,Widget B,Gadgets,2.0,299.50,Bengaluru,True,4.1,599.00
16,1017,C016,2025-09-11,Gizmo Z,Widgets,3.0,59.99,Hyderabad,False,4.0,179.97
17,1018,C017,2025-09-11,Widget A,Gadgets,1.0,199.99,Kolkata,False,4.5,199.99
18,1019,C018,2025-09-12,Accessory Z,Accessories,8.0,9.99,Chennai,False,4.7,79.92
19,1020,C019,2025-09-12,Gizmo Y,Widgets,2.0,79.99,Mumbai,True,3.5,159.98
20,1021,C020,2025-09-13,Widget C,Gadgets,3.0,249.00,Delhi,False,4.8,747.00
21,1022,C021,2025-09-13,Gizmo X,Widgets,4.0,49.99,Bengaluru,False,4.0,199.96
22,1023,C022,2025-09-14,Accessory Y,Accessories,6.0,19.99,Hyderabad,False,3.9,119.94
23,1024,C023,2025-09-14,Widget D,Gadgets,1.0,149.99,Kolkata,False,4.4,149.99
24,1025,C024,2025-09-15,Gizmo Z,Widgets,2.0,59.99,Chennai,False,4.1,119.98
25,1026,C025,2025-09-15,Widget B,Gadgets,3.0,299.50,Delhi,True,3.7,898.50
26,1027,C026,2025-09-16,Accessory Z,Accessories,5.0,9.99,Mumbai,False,4.6,49.95
27,1028,C027,2025-09-16,Gizmo Y,Widgets,1.0,79.99,Bengaluru,False,4.2,79.99
28,1029,C028,2025-09-17,Widget A,Gadgets,2.0,199.99,Hyderabad,False,4.9,399.98
29,1030,C029,2025-09-17,Gizmo X,Widgets,3.0,49.99,Kolkata,False,3.8,149.97
30,1031,C030,2025-09-18,Accessory Y,Accessories,4.0,19.99,Chennai,False,4.3,79.96
31,1032,C031,2025-09-18,Widget C,Gadgets,1.0,249.00,Delhi,False,4.5,249.00

In [20]:
df = pd.DataFrame({'A': [1, np.nan, np.nan, 4, 5]})
print("Original DF:\n", df)

df_interpolated = df.interpolate()
print("Interpolated DF:\n", df_interpolated)
df.interpolate()

Original DF:
      A
0  1.0
1  NaN
2  NaN
3  4.0
4  5.0
Interpolated DF:
      A
0  1.0
1  2.0
2  3.0
3  4.0
4  5.0

     A
0  1.0
1  2.0
2  3.0
3  4.0
4  5.0