## NaN(Not a number)

In [1]:
import numpy as np
import pandas as pd

In [3]:
a =[10,20,30,40,50]
s = pd.Series(a)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
a =[10,20,None,40,50]
s = pd.Series(a)
print(s)

0    10.0
1    20.0
2     NaN
3    40.0
4    50.0
dtype: float64

In [5]:
a =[10,20,30,40, np.nan,50]
print(a)
s = pd.Series(a)
print(s)

[10, 20, 30, 40, nan, 50]
0    10.0
1    20.0
2    30.0
3    40.0
4     NaN
5    50.0
dtype: float64

#### If we have str then the dtype is alos a string

In [6]:
a =[10,20,None,40,"a","b","c",50]
s = pd.Series(a)
print(s)

0      10
1      20
2    None
3      40
4       a
5       b
6       c
7      50
dtype: object