In [4]:
import numpy as np
import pandas as pd

#### Series Methods

#### 1.head()
This method returns first five values from the series

In [5]:
marks = [56, 45, 35, 41, 60, 57, 56, 56] 
s = pd.Series(marks) 
print(s) 
print(s.head())

0    56
1    45
2    35
3    41
4    60
5    57
6    56
7    56
dtype: int64
0    56
1    45
2    35
3    41
4    60
dtype: int64

#### 2. tail()
->This method returns last five values from the series

In [8]:
print(s.tail())

3    41
4    60
5    57
6    56
7    56
dtype: int64

#### 3.sum()
 This method returns the sum of all values.

In [9]:
marks = [56, 45, 35, 41, 60, 57, 56, 56] 
s = pd.Series(marks) 
print(s) 
print(s.sum())

0    56
1    45
2    35
3    41
4    60
5    57
6    56
7    56
dtype: int64
406

In [10]:
marks = [56, 45, 35, 41, np.nan, 60, np.nan] 
s = pd.Series(marks) 
print(s) 
print(s.sum())

0    56.0
1    45.0
2    35.0
3    41.0
4     NaN
5    60.0
6     NaN
dtype: float64
237.0

#### 4.count()
This method returns the number of non-NAN/null values.

In [11]:
marks = [56, 45, 35, 41, np.nan, 60, np.nan] 
s = pd.Series(marks) 
print(s) 
print(s.count())

0    56.0
1    45.0
2    35.0
3    41.0
4     NaN
5    60.0
6     NaN
dtype: float64
5

#### 5.mean()
This method returns the mean of series of values.

In [12]:
marks = [56, 45, 35, 41, 60, 57, 56, 56] 
s = pd.Series(marks) 
print(s) 
print(s.mean())

0    56
1    45
2    35
3    41
4    60
5    57
6    56
7    56
dtype: int64
50.75

#### 6.describe()
This method returns the below values, 
o count 
o mean  
o std 
o min 
o 25% 
o 50% 
o 75% 
o max

In [13]:
marks = [56, 45, 35, 41, 60, 57, 56, 56] 
s = pd.Series(marks) 
print(s) 
print(s.describe())

0    56
1    45
2    35
3    41
4    60
5    57
6    56
7    56
dtype: int64
count     8.000000
mean     50.750000
std       9.130013
min      35.000000
25%      44.000000
50%      56.000000
75%      56.250000
max      60.000000
dtype: float64

#### 7.unique()
This method returns unique values from the series.

In [14]:
marks = [56, 45, 35, 41, 60, 57, 56, 56] 
s = pd.Series(marks) 
print(s) 
print(s.unique())

0    56
1    45
2    35
3    41
4    60
5    57
6    56
7    56
dtype: int64
[56 45 35 41 60 57]

#### 8.nunique()
This method returns number of unique values from the series.

In [15]:
marks = [56, 45, 35, 41, 60, 57, 56, 56] 
s = pd.Series(marks) 
print(s) 
print(s.nunique())

0    56
1    45
2    35
3    41
4    60
5    57
6    56
7    56
dtype: int64
6