#### Series Attributes

In [13]:
import pandas as pd

### 1.Value Attribute

In [14]:
a =[3 ,4,5,6,7,8,9]
s = pd.Series(a)
print(s)
print(s.values)

0    3
1    4
2    5
3    6
4    7
5    8
6    9
dtype: int64
[3 4 5 6 7 8 9]

In [15]:
names=['krish','kumar','reddy','sai']
s = pd.Series(names)
print(s)
print(s.values)

0    krish
1    kumar
2    reddy
3      sai
dtype: object
['krish' 'kumar' 'reddy' 'sai']

### 2.Index Attribute
✓ We can access index attribute by using series object. 

✓ This attribute returns the index range like, RangeIndex(start=0, stop=6, 
step=1)

In [16]:
a =[3 ,4,5,6,7,8,9]
s = pd.Series(a)
print(s)
print(s.index)

0    3
1    4
2    5
3    6
4    7
5    8
6    9
dtype: int64
RangeIndex(start=0, stop=7, step=1)

In [17]:
a =[3 ,4,5,6,7,8,9]
i=[11,22,33,44,55,66,77]
s = pd.Series(a,index=i)
print(s)
print(s.index)

11    3
22    4
33    5
44    6
55    7
66    8
77    9
dtype: int64
Index([11, 22, 33, 44, 55, 66, 77], dtype='int64')

### 3.dtypes Attribute

In [18]:
marks = [56, 45, 35, 41, 44, 60] 
s = pd.Series(marks) 
print(s.dtypes)

int64

In [19]:
salaries = [1000.23, 1100.45, 8889.7, 999.87] 
s = pd.Series(salaries) 
print(s.dtypes)

float64

#### 4.size Attribute
✓ This attribute returns number of values in series.

In [20]:
salaries = [1000.23, 1100.45, 8889.7, 999.87] 
s = pd.Series(salaries) 
print(s)
print(s.size)

0    1000.23
1    1100.45
2    8889.70
3     999.87
dtype: float64
4